{% extends 'main/layout.html' %}

{% block title%}Страница магазина{% endblock %}

{% block content %}
    <div class="features">
        <h1>PyroStore - как смысл жизни</h1>
        {% if shop%}
            {% for el in shop %}
            <div class="alert alert-warning">
                <div class="small_card">
                    <div class="shop_title">
                        <h3>{{ el.title }}</h3>
                    </div>
                    <div class="full_text">
                        <p>{{ el.full_text }}</p>
                    </div>
                    <div class="price_class">
                        <p>{{ el.price }}</p>
                    </div>
                    <button class="btn buy_merch">Купить!</button>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <p>По какой-то причине товаров у нас нет :с</p>
        {% endif %}
    </div>
{% endblock %}