.container {
    padding: 16px;
    font-family: 'BlueCurve';
    background-color: #2b2b2b;
    border-radius: 20px;
    margin-bottom: 140px;
    margin-top: 140px;

}
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #bbbeb5;
}
  h1{
    text-align: center;
    color:#ff8800;
    font-family: 'BlueCurve';
    font-size: 45px;
}
  
b{
  text-align: center;
  color:rgb(255, 255, 255);
  font-weight: 400;
  font-size: 20px;
}
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
  
  hr {
    border: 2px solid #000000;
    margin-bottom: 25px;
}
  .loginbtn {
    background-color: #ff8800;
    color: rgb(0, 0, 0);
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
    opacity: 0.9;
    border-radius: 30px;
    font-family: 'BlueCurve';
    font-size: 20px;
    font-weight: 1000;
}
  
  .registerbtn:hover {
    opacity:1;
}

  a {
    color: rgb(255, 0, 212);
  text-decoration: none;
  font-weight: 1000;
  font-size: 20px;
}

  .signin {
    background-color: #000000;
    text-align: center;
    border-radius: 30px;
    color:#ffffff

  }

