.alert-warning{
    margin: 20px;
    background-color: white;
}

.shop_title h3{
    color: #000000;
    font-size: 40px;
}

.full_text p{
    padding: 20px;
    line-height: 1.5;
    font-size: 15px;
    width: 600px;
    justify-content: left;
}

.btn{
    background-color: black;
    border-color: #ff8800;
    color: #ff8800;
    height: 100px;
    width: 160px;
    border-radius: 30px;
    font-size: 20px;
}

.btn:hover{
    background-color: rgba(78, 78, 78, 0.401);
}

