{% extends 'main/layout.html' %}

{% block title%}PyroStore{% endblock %}

{% block content %}
    <div class="features">
        <h1>PyroStore - как смысл жизни</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam dicta qui reiciendis quaerat minus libero distinctio alias hic nulla numquam. Provident voluptas ipsam est nulla fugiat laudantium eaque vitae mollitia</p>
    </div>

    <section class="shop_about">
        <div class="small_card">
            <div class="shop_text">
                <h1>История создания нашего магазина!</h1>
                    <div class="shop_main_text">
                        Андрей Пирокинезис вдохновил фанатов на создание сайта с продажей его мерча по всей России. Команда отважных программистов взялась за дело, и теперь каждый может позволить себе иметь в коллекции мерч гениального исполнителя.
                    </div>
            </div>
        </div>
    </section>

{% endblock %}